<div class="container" fxLayout="column" fxLayoutGap="15px">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field>
        <input type="text" matInput placeholder="Movie or Series Title" autofocus formControlName="query" required>
        <mat-error>Movie title is required</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent"><mat-icon>search</mat-icon> Search</button>
      </div>
    </div>
  </form>

  <h1 *ngIf="moviesList.length">Movies ({{totalResults}})</h1>
  <div fxFlex fxLayout="column" fxLayoutGap="15px">
    <a *ngFor="let movie of moviesList" [routerLink]="['/movies', movie.id]">
      <mat-card fxLayoutGap="15px">
        <app-movie-img [source]="movie?.poster_path" [imageWidth]="posterWidth"></app-movie-img>
        <div fxFlex fxLayout="column" fxLayoutAlign="start start">
          <h4>{{movie?.title}}</h4>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="accent">star</mat-icon><strong>{{movie.vote_average}}</strong>&nbsp;({{movie.vote_count}} votes)
          </div>
          <div fxFlex>
            {{movie.overview}}
          </div>
        </div>
      </mat-card>
    </a>
  </div>
</div>
